<section class="beneficios container oculto-pp">
    <div>
        <i class="fal fa-rocket-launch"></i>
        <p>
            <strong>
                Frete grátis <br>
            </strong>
            para sul e sudeste
        </p>
    </div>
    <div>
        <i class="fal fa-history"></i>
        <p>
            <strong>
                30 dias para devolução <br>
            </strong>
            em caso de problemas
        </p>
    </div>
    <div class="oculto-g oculto-m oculto-p">
        <i class="fal fa-credit-card"></i>
        <p>
            <strong>
                Site protegido <br>
            </strong>
            pagamento seguro
        </p>
    </div>
    <div class="oculto-p">
        <i class="fal fa-comments"></i>
        <p>
            <strong>
                Suporte 24h <br>
            </strong>
            via WhatsApp
        </p>
    </div>
</section>