@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Urbanist:wght@500&display=swap');

/* Estilos gerais */
body {
    background-color: #ffffff;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

a {
    color: #333;
    text-decoration: none;
}

h2 {
    font-size: 1.4rem;
    font-weight: normal;
}

/* Topo */
.logo {
    font-family: "Urbanist", sans-serif;
    font-size: 1.8rem;
}

/* Breadcrumbs */
.breadcrumbs {
    background-color: #F4FBFC;
    color: #ababab; 
    height: 40px;
} 

.breadcrumbs a {
    color: #ababab;
}

.breadcrumb {
    padding-top: 8px;
}

/* Fale conosco */
.suporte{
    background-color: #F4FBFC;
    border-radius: 10px;
}

.suporte i {
    font-size: 3rem;
    color: #5ACFDA;
}

.falecom div i {
    font-size: 3rem;
    color: #5ACFDA;
}

.falecom input, textarea {
    font-size: 1rem;
    border: solid 1px #5ACFDA !important;
    border-radius: 6px;
    caret-color: #5ACFDA;
}

.falecom button {
    width: 200px;
    height: 50px;
    background-color: #5ACFDA !important;
    color: #fff !important;
    font-weight: bold !important;
    border: none !important;
    border-radius: 6px;
    cursor: pointer;
}

.falecom button:hover {
    background-color: #70e2ed !important;
}

/* Rodapé */
footer {
    font-size: .8rem;
    line-height: 1.5rem;
}

footer a:hover {
    text-decoration: underline;
    color: #333;
}

.rodape-menu {
    word-spacing: 2rem;
}

.rodape-menu a {
    font-size: .8rem;
    font-weight: bold;
}

.direitos {
    background-color: #5ACFDA;
    color: #fff;
    font-size: .8rem;
}

.direitos a {
    color: #fff;
    font-size: 1.5rem;
}

.ajuste-espaco {
    word-spacing: .4rem;
}

@media (max-width: 320px) {
    body {
        font-size: 13px;
    }
}