<section class="breadcrumbs">
    <div class="container">
        <a routerLink="">
            <i class="fal fa-house"></i>
        </a> / <span class="atual">
            Fale conosco
        </span>
    </div>
</section>
<section class="falecom container margem-topo">
    <div>
        <h2>Fale conosco</h2>
        <p>
            Use este espaço para enviar suas sugestões, críticas ou reclamações. <br>
            Para suporte, prefira o atendimento via WhatsApp.<br>
            <sub>* indica campo obrigatório</sub>
        </p>
        <p class="margem-topo">
            <label for="nome">Nome completo*</label><br>
            <input type="text" id="nome" />
        </p>
        <p class="margem-topo">
            <label for="email">E-mail*</label><br>
            <input type="email" id="email" />
        </p>
        <p class="margem-topo">
            <label for="telefone">Telefone</label><br>
            <input type="text" id="telefone" />
        </p>
        <p class="margem-topo">
            <label for="mensagem">Mensagem*</label><br>
            <textarea id="mensagem" rows="4" cols="50" maxlength="600"></textarea><br>
        </p>
        <button class="margem-topo">enviar</button>
    </div>
    <div class="oculto-g oculto-m oculto-p oculto-pp">
        <i class="fab fa-whatsapp"></i>
        <h2>Procurando por suporte?</h2>
        Entre em contato via WhatsApp: 0800 111-2233
    </div>
</section>