<section class="container">
    <h2>Produtos em destaque</h2>
    <div class="produtos margem-topo" id="produtos">
        <div class="produto">
            <a href="#">
                <img src="assets/beats.jpg" alt="Fones de ouvido Beats">
                <p>
                    Fones de ouvido Beats Solo3 Wireless Rose Gold<br>
                    <strong>
                        R$ 1599<br>
                    </strong>
                </p>
            </a>
            <div class="produto-comprar">
                <button>comprar</button>
            </div>
        </div>
        <div class="produto">
            <a href="#">
                <img src="assets/iphone.jpg" alt="iPhone 12">
                <p>
                    iPhone 12<br>
                    <strong>
                        R$ 7000<br>
                    </strong>
                </p>
            </a>
            <div class="produto-comprar">
                <button>comprar</button>
            </div>
        </div>
        <div class="produto">
            <a href="#">
                <img src="assets/iphone13rosa.jpg" alt="iPhone 13 Rosa">
                <p>
                    iPhone 13 Rosa<br>
                    <strong>
                        R$ 7600<br>
                    </strong>
                </p>
            </a>
            <div class="produto-comprar">
                <button>comprar</button>
            </div>
        </div>
        <div class="produto">
            <a href="#">
                <img src="assets/apple-watch.jpg" alt="Apple Watch Series 7">
                <p>
                    Apple Watch Series 7<br>
                    <strong>
                        R$ 5300<br>
                    </strong>
                </p>
            </a>
            <div class="produto-comprar">
                <button>comprar</button>
            </div>
        </div>
        <div class="produto">
            <a href="#">
                <img src="assets/cogumelo-mario.jpg" alt="Cogumelo do Mario colecionável">
                <p>
                    Cogumelo do Mario colecionável<br>
                    <strong>
                        R$ 50<br>
                    </strong>
                </p>
            </a>
            <div class="produto-comprar">
                <button>comprar</button>
            </div>
        </div>
        <div class="produto">
            <a href="#">
                <img src="assets/imac-rosa.jpg" alt="Novo iMac de 24 polegadas com chip M1 da Apple">
                <p>
                    Novo iMac de 24 polegadas com chip M1 da Apple<br>
                    <strong>
                        R$ 17600<br>
                    </strong>
                </p>
            </a>
            <div class="produto-comprar">
                <button>comprar</button>
            </div>
        </div>
    </div>
</section>