<p class="margem">&nbsp;</p>
<footer class="margem-topo">
    <div class="rodape oculto-pp">
        <div class="oculto-p">
            <h2>
                O que você procura?
            </h2>
            <a href="#">Consoles</a>
            <a href="#">Notebooks</a>
            <a href="#">Smartphones e tablets</a>
            <a href="#">Áudio</a>
            <a href="#">Smart home</a>
            <a href="#">Drones</a>
        </div>
        <div>
            <h2>
                Institucional
            </h2>
            <a href="#">Sobre a GameMania</a>
            <a href="#">Missão e valores</a>
            <a href="#">Políticas do site</a>
            <a href="#">Políticas de privacidade</a>
            <a href="#">Trabalhe conosco</a>
        </div>
        <div class="oculto-g oculto-m oculto-p">
            <h2>
                Informações adicionais
            </h2>
            <a href="#">Seja GameMania Pro!</a>
            <a href="#">Cartão GameMania</a>
            <a href="#">Horário de atendimento</a>
            <a href="#">Canais de atendimento</a>
            <a href="#">Cadastrar ou remover newsletter</a>
        </div>
        <div>
            <h2>
                Fale conosco
            </h2>
            <p>
                Entre em contato!
            </p>
            <p>
                <i class="fal fa-map-marker-alt"></i> Rua 25 de Março, 1234
            </p>
            <p>
                <i class="fal fa-mobile-android-alt"></i> 0800 111-2233
            </p>
        </div>
    </div>
    <div class="direitos margem-topo">
        Copyright © 2021 GameMania. All rights reserved
    </div>
</footer>