<header class="container">
    <div class="logo">
        <a routerLink="">
            <i class="far fa-gamepad-alt"></i><span class="oculto-pp">GameMania</span>
        </a>
    </div>
    <div class="menu-responsivo-abrir oculto-gg">
        <a onclick="abrirMenu();">
            <i class="far fa-bars"></i>
        </a>
    </div>
    <div class="menu-responsivo-fechar oculto-gg oculto-g oculto-m oculto-p oculto-pp">
        <a onclick="fecharMenu();">
            <i class="far fa-times"></i>
        </a>
    </div>
    <nav class="oculto-g oculto-m oculto-p oculto-pp">
        <a routerLink="" onclick="fecharMenu();">Home</a>
        <a href="#">Jogos</a>
        <a href="#">PC Gamer</a>
        <a href="#">Eletrônicos</a>
        <a href="#">Periféricos</a>
        <a routerLink="../contato" onclick="fecharMenu();">Fale conosco</a>
        <a href="#"><i class="fal fa-shopping-basket"></i></a>
    </nav>
</header>